@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body{
  background-color: #303F9F;
  color: white;
  font-size: 10pt;
  text-align:center;
  font-family: 'Slabo 27px', serif;
}

table{
  border-style: inset;
  margin-left:27%;
  padding:10px;
}

td{
  width:250px;
  padding:2px;
  text-transform: uppercase;
}

form {
  position:fixed;
  top:50%;
  left:25%;
  width:250px;
}

.forms {
  display: block;
  text-align: left;
  padding: 5px;
}

#topForm {
  padding-top: 75px;
}
